{{! BEGIN-SNIPPET single-demo.hbs }}
<JSQR::Scanner
  @cameraStream={{this.cameraStream}}
  @onData={{this.handleData}}
  @scanAreaSize={{100}}
/>

<br>

<Button {{on 'click' this.toggleCamera}}>
  {{#if this.isCameraActive}}
    Stop Camera
  {{else}}
    Start Camera
  {{/if}}
</Button>

<br>

<label>Last Detected Data:</label> {{this.lastDetectedData}}
{{! END-SNIPPET }}
